.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    background: yellowgreen;
    border-style: solid;
    border-color: yellow;
}

.form-popup {
    display: none;
    flex-direction: column;
    padding: 4rem;
    border-style: solid;
    border-color: aqua;
    background: aquamarine;
    border-radius: 5vh;
    position: absolute;
    margin-top: 10rem;
    margin-left: 40rem;
}

#hideForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 1.5rem;
    width: 2.5rem;
    padding: 15px;
    border-radius: 10vh;
}


