@font-face {
    font-family: 'Trocchi';
    src: url(Fonts/Trocchi/Trocchi-Regular.ttf);
}

h1 {
    font-family: 'Trocchi', serif;
}

.container {
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container-addbooks {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#addBook {
    background-color: lightblue;
    margin-top: 130px;
    font-size: xx-large;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.card {
    font-family: 'Trocchi', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 320px;
    width: 280px;
    background: #FEECDC;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10%;
}

.book-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.book-status-btn {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    font-family: 'Trocchi', serif;
    font-weight: bolder;
}

.remove-btn {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Trocchi', serif;
    color: #D22B2B;
    font-weight: bolder;
}

label {
    font-family: 'Trocchi', serif;
    font-weight:bolder;
}

.form-popup {
    display: none;
    gap: 40px;
    flex-direction:row;
    justify-content: center;
    padding: 3.3rem;
    height: 50%;
    width: 23%;
    background: #FEECDC;
    border-radius: 3vh;
    position: absolute;
    inset: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#book-form {
    display: grid;
    grid-column: auto;
    
}

input[type='text'],
input[type='number'] {
    border-style: solid;
    appearance: none;
    border-radius: 1vh;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container-input {
    margin-top: 12px;
}

.type-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#submit-btn {
    border-radius: 1vh;
    width:30%;
    height: 80%;
    justify-self: center;
    font-family: 'Trocchi', serif;
    font-weight: bolder;
}

#hideFormBtn {
    text-align: center;
    font-family: 'Trocchi', serif;
    height: 8%;
    width: 10%;
    border-radius: 10vh;
    font-weight: bolder;
    justify-self: baseline;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header-text {
    font-family:'Trocchi', serif;
    font-size: 55px;
    letter-spacing:15px;
    margin: 0px;
    align-self:flex-end;
    margin-top: 40px;
}

#books-icon {
    width: 6rem;
}

.line, .line-2 {
    background: black;
    width:40rem;
    height: 1.2px;
}

.line-2 {
    margin-top: 20px;
    width: 30rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-color-container {
    height: 170px;
    width: 100%;
    background: #FEECDC;
}

* {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url(empty-bookshelf.jpeg);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 83vh;
    margin: 0px;
}




